.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
  }
  
  .home__data {
    align-self: center;
  }
  
  .home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  
  .home__title-color {
    color: var(--first-color);
  }
  
  .home__social {
    display: flex;
    flex-direction: column;
  }
  .home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 360px;
  }
  
  .home__blob {
    fill: var(--first-color);
  }
  
  .home__blob-img {
    width: 360px;
  }
  
  /*BUTTONS*/
  .button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    text-decoration: none
  }
  
  .button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }