<section class="about section " id="about">
    <h2 class="section-title">Sobre Mi</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="assets/about.jpg" alt="">
        </div>
        
        <div>
            <h2 class="about__subtitle">Soy Nicolas</h2>
            <p class="about__text">Estudiante del programa Argentina Programa, para ser desarrollador full stack JR. Tengo 31 años, vivo en la ciudad de Bahia Blanca.
                Soy una persona proactiva que busca constantemente aprender nuevas disiplinas para desarrollar de la mejor forma los desafios que me encuentro día a día en el trabajo.
            </p>           
        </div>                                   
    </div>
</section>