<section class="work section" id="work">
    <h2 class="section-title">Trabajos</h2>

    <div class="work__container bd-grid">
        <div><a href="https://etman.com.ar/" class="work__img">
            <img src="assets/work1.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda expedita odio earum qui, sunt cum neque ullam esse aliquid natus magni doloribus consequatur soluta nesciunt, repellendus at placeat amet!</p>
    </div>
        <div><a href="https://www.facebook.com/El-Pancho-de-Pehuen-1793398654234744/?_rdr" class="work__img">
            <img src="assets/work2.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel voluptatum consequatur nobis nihil saepe esse hic molestias ipsum quo illo corporis, officia accusantium dicta sit minus, nisi magni consectetur magnam.</p>
    </div>
    <div>
        <a href="https://www.facebook.com/atuendos.estaconvos" class="work__img">
            <img src="assets/work3.jpg" alt="">
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum explicabo officia dolore fugiat eaque, sapiente dolores cupiditate commodi tempora error neque porro, aspernatur quae labore incidunt in doloremque. Molestias, similique.</p>
    </div>
    </div>
</section>